[Unit]
Description=RadonBot Discord Bot

[Service]
Type=simple
User=ubuntu
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/ubuntu/radonbot/api.py

[Install]
WantedBy=default.target
